.container {
  text-align: center;
  padding: 0px;
  min-height: 100vh; /* Ensure the container covers the full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; /* Ensure relative positioning */
  margin: 0; /* Remove default margin */
  font-family: "Inter", Arial, sans-serif; /* Apply Mantine default font */
  overflow: hidden; /* Hide overflow for a cleaner look */
}

.backgroundVideo {
  position: absolute; /* Position the video absolutely */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the container */
  z-index: -1; /* Place the video behind the content */
}

.content {
  background-color: white; /* White background for the content */
  padding: 20px;
  border-radius: 8px; /* Optional: add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
  max-width: 20rem; /* Adjust the width to be narrower */
  width: 100%; /* Full width up to max-width */
  position: relative; /* Ensure content is on top of the video */
  z-index: 1; /* Ensure content stays on top */
}

.heading {
  color: #333;
  margin: 0 0 10px; /* Remove top margin and add bottom margin */
}

.content p {
  color: #666; /* Adjust text color if needed */
  margin: 0; /* Remove default margin */
}
