/* Ensure no default margin and padding */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif; /* Apply Mantine's standard font */
  overflow: hidden; /* Prevent scrolling if desired */
}

/* Ensure content below the navbar */
.mainContent {
  padding-top: 60px; /* Adjust this value according to the height of your navbar */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", Arial, sans-serif; /* Ensure headings use the correct font */
  font-weight: normal;
}

p {
  font-family: "Inter", Arial, sans-serif; /* Ensure paragraphs use the correct font */
}

input:focus,
textarea:focus,
select:focus {
  outline: none; /* Remove default outline */
  border-color: #ffee00; /* Set border color on focus */
}
